# Ignore node_modules directory globally
node_modules/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore build directories
/dist/
/build/

# Ignore environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm package lock file (if using npm)
package-lock.json

# Ignore Gradle-specific files (if using Gradle)
.gradle/
build/
*.iml

# Ignore Maven-specific files (if using Maven)
target/
*.iml